<link rel="stylesheet" type="text/css" href="style.css">

.jumbotron{

}
.col-md-4{

}
#footer{
  position: absolute;
  font-family: 'Bungee Hairline', cursive;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 22px;
  animation: hackerFlash .1s ease-in infinite;
}
/*-----------Animations -------*/
@keyframes hop {
  50%
  {
    transform: translateY(-150%);
  }
  100%{
    transform: translateY(-100%);
  }
}
@keyframes scale {
  0%, 100%{

  }
  50%{
    transform: scale(1.10);
  }
}
/*Note: RAD AS FUCK - I wrote this a long time ago*/
@keyframes hackerFlash{
  0%{
    color: rgb(0, 255, 0);
  }
  100%{
    color: #808080
  }
}
@keyframes blink{
  0%{
    color: #FFF
  }
  100%{
    color: #000000
  }
}
